nav, img {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
/** HEADER **/
#header {
    background-image: url("../img/header.jpg");
    background-color: black;
    min-height: 700px;
    color: white;
    padding-top: 160px;
}
#header p {
    font-size: 2em;
}
/* BASE STYLE */
section {
    padding-top: 40px;
    padding-bottom: 40px;
}
/* formulaire */
form {
    background-color: white;
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
/* sections*/
#students p {
    color: white;
    margin-top: 100px;
}
#students img {
    border-radius: 5px;
}
#volunteers p {
    margin-top: 100px;
}
#volunteers img {
    border-radius: 5px;
}
/* team */
.team-member {
    text-align: center;
}
.team-member img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 15px;
}
.team-member h6 {
    color: #0475ba;
}
/* PIED DE PAGE */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
footer ul {
    list-style: none;
    margin-left: -40px;
}

footer ul li {
    padding: 5px 0px;
}

a{
    color:white;
}
a:hover{
    color:white;
}
a:active{
    color:red;
}
a:visited{
    color: purple;
}
.bg-info {
    background-color: black;
}
.btn-info {
    color:#0475ba;
}